<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Photo Album{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <style>
        /* Стили для кнопок с тремя точками */
        .action-button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
        }
        .action-button:hover {
            background-color: #f1f1f1;
        }
    </style>
    {% block extra_head %}
    {% endblock %}
</head>
<body class="bg-gray-100">
    <nav class="bg-blue-600 p-4 text-white">
        <div class="container mx-auto">
            <a href="{% url 'photo_album' %}" class="mr-4">My Album</a>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="text-white">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="mr-4">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
    <main class="py-6">
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
        function toggleMenu(menuId) {
            var menu = document.getElementById(menuId);
            if (menu) {
                if (menu.classList.contains('hidden')) {
                    menu.classList.remove('hidden');
                    menu.style.display = 'block';
                } else {
                    
                    menu.classList.add('hidden');
                    menu.style.display = 'none';
                }
            } else {
                console.error("Menu not found: " + menuId);
            }
        }

        // // Закрытие меню при клике вне его
        // document.addEventListener('click', function(event) {
        //     var menus = document.querySelectorAll('.origin-top-right');
        //     menus.forEach(function(menu) {
        //         if (!menu.contains(event.target)) {
        //             menu.classList.add('hidden');
        //             menu.style.display = 'none';
        //         }
        //     });
        // });

        // Остановка закрытия меню при клике внутри него
        
    </script>
</body>
</html>
